@media screen and (max-width: 1100px){
	.text-block3:after{
		margin-left: -5%;
		margin-top: -40%;
	}
	.text-block3{
		margin-left: auto;
	}
	.midlle-header{
		
	}
	.logo {
    padding: 36px 6px;
}

}
@media screen and (max-width: 930px){
	.logo{
		width: 100px
	}
	.logo .logo_img{
		width: 100px;
	}


}
@media screen and (max-width: 850px){
	.header{
		flex-direction: column;
		margin:0 auto;
		text-align: center;
		background-size: cover; 
		height: 100vh;
	
	}
	.last-block{
    	margin-left: auto;
    	margin-right: auto;
    	margin-top: 0;
    	padding-bottom: 110px;
	}
	.text-block3:after{
		width: 181px;
		height: 2px;
		margin-left: 14%;
    	margin-top: -20%;
	}
	.midlle-header{
		margin-right: auto;
	}
	.logo{
		margin:0 auto;
	}
}
@media screen and (max-width: 500px){
	.midlle-header{
		width: 100%;
	}
	.text{
		margin-left: auto;
    	margin-right: auto;
	}
	.text1{
		font-size: 34px;
	}
	.text3{
		width: auto;
	}
}
@media screen and (max-width: 450px){
	.header{
		height: 100vh;
		width: auto;
	}
	.wraper-text{
		padding: 1px 1px;
    	margin-top: 35px;
	}
	.last-block{
		padding-bottom: 105px;
        left: 25%
	}
	.midlle-header{
		margin-bottom: 150px;
	}
	.text{
		width: 200px;	
	}
	.text1{
		font-size: 25px;
	}
	.text3{
		width: 250px;
		margin:0 auto;
	}
	.item{
		display: block;
		width: 100%;
	}

}
@media screen and (max-width: 320px){
	.header{
		height: 100%;
		width: auto;
	}
	.text1{
		font-size: 19px;
	}
	.text3{
		font-size: 20px;
	}
	.text{
		margin-left: 23%;
	}
	.last-block{
		padding-top: 100px;
	}
	.item{
		flex-direction: column;
	}
	.item p{
		font-size: 14px;
	}
	.text-block3{
		font-size: 18px;
	}
	.text-block3:after {
    margin-left: 1%;
}