body{
	background-image: url(img/2.jpg);
}

h1{
	margin: 0 auto;
}

.zagolovok1{
	text-align: center;
	color: #84ddff;
    text-shadow: 6px 5px 7px #020b10;
	width: 570px;
}
.huy{
	margin:0 auto;
	display: block;
	text-align: center;
}
.pes{
	margin: 0 auto;
	padding-top: 70px;
	width: 50%;
	height:40%;
}