.logo{
    width: 200px;
    height: 200px;
    position: relative;
    left: 45%;
    top: 300px;
    font-size: 8rem;
    text-shadow:  0px 0px 100px;
    animation: animate 2s infinite linear;
}
@keyframes animate{
    0%,
    100%{
        color: rgb(255, 23, 23);
    }
    25%{
        color: rgb(255, 10, 222);
    }
    50%{
        color: rgb(236, 255, 23);
    }
    60%{
        color:rgb(33, 250, 250);
    }

}