body{
	font-family: Sansation,sans-serif;
	padding:0;
	margin:0;
	
}
@font-face{

font-family: 'comi';

src: url('../../fonts/comi2.ttf');



font-weight: normal;

font-style: normal;

}
@font-face{

font-family: '14722';

src: url('../fonts/14722.ttf');



font-weight: normal;

font-style: normal;

}
ul,li,a{
	text-decoration: none;
	 list-style-type: none;
	 padding:0;
}
h1{
	display:block;
	text-transform: uppercase;
	text-align: center;
	margin:0 auto;
	font-family: 'comi';
	font-size: 45px;
	letter-spacing: 0.3em;
	margin-left: 4%;
	color: #d544a3a6;
	font-weight: normal;
	text-shadow: .1vw 0vw .25vw #ffd8d8, .2vw 0vw .25vw #ffd8d8, .4vw 0vw .25vw #ffd8d8, .1vw 0vw 0vw #f2cb57, .2vw 0vw 0vw #f257e1, .4vw 0vw 0vw #f25798, .1vw 0vw .1vw #f25757, .2vw 0vw .1vw #f25757, .4vw 0vw .1vw #f25757, .1vw 0vw 2vw #f25757, .2vw 0vw 2vw #f25757, .4vw 0vw 2vw #f257e1, .1vw 0vw 1vw #e50b90;
}
.container{
	padding: 0 7%;
	margin: 0 auto;
}
header{
	background: #00000091;
	width: auto;
	height: 175px;
}
.bg{
	background: url('../../img/Fon1.jpg') center;
	z-index: -1;
	display: block;
	position: fixed;
	width: 100%;
	height: 340px;
}
.heading{
	/*display: flex;
	justify-content: space-between;
	align-items: center;*/
	padding-top: 2%;
}
.logo{
	width: 27vh;
}
.offer{
	line-height: 1.5em;
	text-align: right;
	color: #f9f9f9;
	font-weight: bold;
	width: 30%;
	font-size: 15px;
	position: absolute;
	left: 60%;
	bottom: ;
	top: 10%;
}
/*Section*/
.info{
	width: auto;
	min-height: 600px;
	background: #dddada;
	font-family: 'Roboto Condensed', sans-serif;
	display: flex;
}
.photo_case{
	width: 40%;
	margin:0 auto;
	display: flex;
	align-items: center;
	padding-top:10%;
}
.info_case{
	width: 50%;
	margin: 0 auto;
}
.name_case{
	font-size: 35px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.5;
	letter-spacing: 2px;
	text-align: center;
	padding-top: 5%;
}
.price{
	font-size: 30px;
	line-height: 1.5;
	color: red;
	text-align: center;
}
.Garant{
	text-align: center;
}
.upName{
	font-size: 28px;
    letter-spacing: 1.5px;
}
.add_info{
	display: flex;
	justify-content: space-between;
	line-height: 1.5;
	border-bottom: 1px solid #bcbcbc;
	width: 90%;
}
.prod_val{
	
}
/*//footer/*/
.footer{
	width: auto;
	height: 300px;
	background: #051315;
	color:#fff;
}
.footer_index{
	padding-top: 10%;
	text-align: center;
	line-height: 1.5;
	color:#fff;
}
.contact{
	text-decoration: none;
	color:#fff;
}
